<body id="top">
  <div class="back-rgba">
    <section class="top">
      <h3>
        Simple blog.
        <span class="font-small">
          は世界一シンプルなブログサービスです。<br>
          １記事につき、<br>
          140文字以内の記事を気軽に投稿できます。<br>
          あなたも
        </span>
        Simple blog.
        <span class="font-small">
          でシンプルなブログ習慣をはじめてみませんか？
        </span>
      </h3>
      <h5 class="create-new"><%= link_to "→ Blogs index. 一覧を見る", blogs_path %></h5>
      <h5 class="create-new"><%= link_to "→ Create new. 記事を書く", new_blog_path %></h5>
    </section>
  </div>
</body>
