<div class="back-rgba">
  <section class="login-signup">
    <h2>Post.</h2>
    <%= render "form" %>
    <ul class="edit-menu form-menu">
      <li><class="link"><%= link_to "→ Back.", blog_path(@blog.id) %></h5></li>
    </ul>
  </section>
</div>
