<h3>以下の記事を投稿しました。</h3>
<br>
<p>
  <b>Title:</b><br>
  <%= @blog.title %>
</p>
<p>
  <b>Content:</b><br>
  <%= @blog.content %>
</p>
<p>
  <b>Author:</b><br>
  <%= @blog.user.name %>
</p>
<br>
<p>
  今後も<b>Simple Blog.</b>をよろしくお願いいたします。
  <br><br>
  <b>Simple Blog.</b>管理者
</p>
