*{
  box-sizing: border-box;
}

html, body{
  font-family: BlinkMacSystemFont,"Helvetica Neue",YuGothic,'Yu Gothic',Verdana,Meiryo,sans-serif;
  margin: 0;
  padding: 0;
  height:100%; }

body {
  color: #504946;
  background-color: #e8ece9; }

body#top{
  background-image: image-url("hedgehog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 85%;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  letter-spacing: 3px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  opacity: 0.9;
}

div.container-fluid{
  padding: 15px; }

div.navbar-header {
  padding-left: 8%;
  h1{
    margin: 0;
      a{
        color: #504946;
        font-weight: normal;
        letter-spacing: 5px;
        margin-right: 30px;
      &:hover{
          text-decoration: none;
          color: #504946;
      }
    }
  }
  ul{
    margin-top: 2.5%;
  }
}

div.navbar-brand{
  padding: 0px;
}

.nav.navbar-nav{
  li{
    a{
      color: #504946;
      width: 100%;
      &:hover{
        transition: 0.3s;
        text-decoration: underline;
      }
    }
  }
}


footer{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 7.5%;
  background-color: white;
  opacity: 0.9; }

footer p{
  text-align: right;
  margin: 1em 8%;}

.back-rgba{
  box-sizing: border-box;
  height: 100%;
  padding: 8%;
  background: rgba(255,255,255,0.6);
  border-radius: 10px;
}

.top{
  text-align: center;
  box-sizing: border-box;
  h3{
    line-height: 130%;
    font-weight: normal;
    margin: 3% 2%;
    font-size: calc(80% + 1.3vw);
    .font-small{
      font-size: calc(50% + 0.3vw);
      }
      margin-bottom: 100px;
  }
  h5{
    font-size: calc(80% + 0.3vw);
  }
  img{
    width: 60%;
    height: 60%;
  }
}

.notice{
  font-family: BlinkMacSystemFont,"Helvetica Neue",YuGothic,'Yu Gothic',Verdana,Meiryo,sans-serif;
  font-weight: bold;
  }

.login-signup{
  margin-left: 10%;
  h2{
    margin-left: 5%;
    margin-bottom: 3%;
  }
  li{
    margin-bottom: 1%;
    list-style: none;
  }
  input{
    border: 2px solid #d4dcd3;
  }
  #btn{
    margin-top: 2%;
    border: 2px solid #d4dcd3;
  }
}

.errors{
  border: 2px solid #d4dcd3;
  border-radius: 5px;
  background-color: #e8ece9;
  margin: 2%;
  padding: 2%;
  width: 50%;
}

.flash{
  margin: 1%;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bolder;
  .notice{
    padding: 1%;
    border: 2px solid #d4dcd3;
    background-color: #e8ece9;
    border-radius: 5px;
  }
  .danger{
    padding: 1%;
    border: 2px solid #fbdac8;
    background-color: #fdede4;
    border-radius: 5px;
  }
}


//////// @media 768px  ////////////////////////////////

  @media (max-width: 768px) {

    .nav.navbar-nav{
      li{
      padding: 0  3%;
      }
    }
    body#top{
      height: 50%;
      background-image: image-url("hedgehog.jpg");
      background-position: center;
    }
    .back-rgba{
      padding: 10%;
    }
    .top{
      white-space: pre-line;
      h3{
        line-height: 90%;
        margin-bottom: 15px;
      }
    }
    .login-signup{
      margin-left: 0%;
      text-align: center;
      ul{
        padding-left: 0px;
      }
    }
    .errors{
      margin: 2%;
      padding: 2%;
      width: 100%;
    }
    .container {
      margin: 30% auto;
    }
  }
  //////// @media 320px  ////////////////////////////////

  @media (max-width: 320px) {
    .container {
      margin: 40% auto;
    }
}
